    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: url('Logo GE') no-repeat center center fixed;
            background-size: cover;
            color: #fff;
        }

        header {
            background-color: rgba(51, 51, 51, 0.8);
            color: #fff;
            padding: 10px 0;
            text-align: center;
        }

        nav {
            background-color: rgba(68, 68, 68, 0.8);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
        }

        nav .menu-toggle {
            display: none;
            cursor: pointer;
            font-size: 24px;
        }

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: row;
        }

        nav ul li {
            margin: 0 15px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
            padding: 10px;
            display: block;
            transition: background 0.3s;
        }

        nav ul li a:hover {
            background-color: rgba(85, 85, 85, 0.8);
        }

        @media (max-width: 768px) {
            nav .menu-toggle {
                display: block;
            }

            nav ul {
                display: none;
                flex-direction: column;
                width: 100%;
                text-align: center;
            }

            nav ul li {
                margin: 10px 0;
            }

            nav ul.showing {
                display: flex;
            }
        }

        main {
            padding: 20px;
        }

        .content {
            display: none;
        }

        .content.active {
            display: block;
        }

        .content h2, .content p {
            color: #fff;
            text-shadow: black 0.1em 0.1em 0.2em
        }

        .gallery {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
        }

        .moment {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 40px;
        }

        .moment-item {
            flex: 1;
            min-width: 300px;
            margin: 10px;
        }

        .moment-item img, .moment-item video {
            width: 100%;
            height: auto;
            display: block;
        }

        footer {
            background-color: none;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: absolute;
            bottom: 0;
            width: 100%;
        }

        .social-section {
            display: flex;
            align-items: center;
            padding: 20px;
            background-color: none;
        }

        .social-section .photos {
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }

        .social-section .photos img {
            width: 50px;
            height: auto;
            margin-bottom: 10px;
        }

        .social-section .instagram-link {
            display: flex;
            align-items: center;
        }

        .social-section .instagram-link img {
            width: 50px;
            height: auto;
            margin-right: 10px;
        }

         #bible {
            display: flex; /* Usar flexbox para organizar os elementos */
            flex-direction: column; /* Organizar os elementos em coluna */
        }

        #bible a {
            color: #007bff; /* Cor azul para os links */
            text-decoration: none; /* Remover sublinhado padrão */
            margin-left: 10px; /* Adicionar espaço entre os links */
            cursor: pointer; /* Cursor de apontador para indicar que é clicável */
        }

        #bible a:hover {
            text-decoration: underline; /* Sublinhar o link ao passar o mouse sobre ele */
        }

        #bible div {
            margin-bottom: 5px; /* Adicionar espaço entre os elementos */
        }
    </style>
